*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: #fff;
}
.logo{
    cursor: pointer;
    width: 100px;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.nav-links li a:hover{
    color: #8C0303;
}

.galardones{
    margin-left: 100px;
    padding: 5px;
}

ol{
    margin-right: 10px;
}

.galardones .indi{
    margin-right: 20px;
}
.galardones .main{
    padding-top: 40px;
    margin-right: 15px;
}

.EstilosA {
    text-align: center;
}
.EstilosA .conetnt {
    text-align: center;
}

.tittleText{
    font-weight: 600;
    color:#111;
    font-size: 2em;
    margin-bottom: 80px;
}

.EstilosA .Festivales {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.contnt2 .tittleText2 {
    text-align: center;
    font-weight: 600;
    color:#111;
    font-size: 2em;
    
}


.EstilosA .Festivales .box {
    position: relative;
    max-width: 350px;
    min-width: initial;
    width: 350px;
    height: 400px;
    background-image: #191919;
    transition: 0.5s; 
    margin: 10px;
    margin-bottom: 60px;
}

.EstilosA .Festivales:hover .box{
    opacity: 0.5;
}

.EstilosA .Festivales .box:hover{
    opacity: 1;
}

.fitBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
    opacity: 0.8;
}

.EstilosA .Festivales .box .imgBx{
    /*position: relative;
    width: 100%;*/
    
    width: 200px;
    height: 300px;
}

.EstilosA .Festivales .box .content{
    margin-bottom: 40px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.EstilosA .Festivales .box .content h2{
    font-weight: 600;
    color:#111;
    font-size: 2em;
    margin-bottom: 100px;
    
}

.EstilosA .Festivales .box span{
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.5;
    color:#111;
    margin-bottom: 10px;
}

.text{
    color: #111;
    font-size: 1em;
   
}

.text2{
    text-align: center;
    color:#111;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 30px;
    
}

table {
    margin-left: 25%;
    display: table;
    align-items: center;
    border: solid 1px #000000;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 15px Arial, sans-serif;
    margin-bottom: 30px;
    
}

table thead th {
    background: #8C0303;
    border: solid 1px #0D0D0D;
    color: #F2F2F2;
    padding: 20px;
    text-align: left;
    text-shadow: .5px .5px .5px rgb(0, 0, 0);
}
table tbody td {
    border: solid 1px #41403f;
    color: rgb(12, 12, 12);
    padding: 20px;
    padding-left: 30px;
    text-shadow: .5px .5px .5px;
   
}

table tbody tr:nth-child(even){
    background: #F2C230;
}

table tbody tr:hover {background:#F2A516;
}


.footer-contenedor{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
    margin-top: 9%;

}
.footer-iconos{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-iconos ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-iconos ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px; 
    border-radius: 100%;
    background: #b92207;
}
.footer-iconos ul li a{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.footer-iconos ul li a img{
    line-height: 40px;
}

.footer-bottom{
    width: 100%;
    height: auto;
    margin: 0px;
}
.footer-bottom p{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 15px;
}

#img1{
    margin-top: 23%;

}
#img2{
    margin-top: 20%;
}
#img3{
    margin-top: 18%;
}
#img4{
    margin-top: 20%;
}