*{
    margin: 0;
    padding: 0;

}
#video1{
margin-top: 5%;
margin-left: 1%;

}
#video2{

margin-left: 50%;
margin-top: -27%;

}
#titu{
    margin-left: 35%;
    margin-top: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;

}
#text1{

margin-left: -95%;
margin-right: 100%;
margin-top: 5%;
font-family: 'Noto Sans JP', sans-serif;
}
#text2{
    margin-top: -11.5%;
    font-family: 'Noto Sans JP', sans-serif;
    margin-right: 2%;
}